body{

	background-image: url("game-background.jpg");
	
}

.front{
	
	height: 200px; 
	width: 200px; 
	transition: all 0.5s ease-out; 
	-webkit-transition: all 0.5s ease-out; 
	backface-visibility: hidden; 
	transform: rotateY(0deg);

}

.back{
	transform: rotateY(-180deg); 
	height: 200px; 
	width: 200px; 
	transform-style: preserve-3d; 
	position: absolute; 
	transition: all 0.5s 
	ease-out; 
	-webkit-transition: all 0.5s 
	ease-out; 
	backface-visibility: hidden;
	border-radius: 50%;

}

.card{
	display: none;
	width: 145px; 
	height: 145px; 
	position: relative;
	 margin-left: auto;
    margin-right: auto;
     display: inline-block;

}
.card:hover { 
    border: 1px solid red;
}

.title{
	margin: 0 auto;
}
/*h1 {
	font-family: 'Fjalla One', sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.3999996185303px;
	border: 2px solid orange;
	padding: 100px;
}*/


.name{

	font-size: 30px;
	border: 2px solid black;
	background-color: orange;
}

.score{
	font-size: 40px;
	font-family: arial;
	color: red;
	flash: true;

}
.game-wrap{
	display: none;
}

.player-one-score, .player-two-score{
	display: none;
}
